/* CSS for portlets */
.column {
    width: 170px;
    float: left;
    padding-bottom: 100px;
}

.portlet {
    margin: 0 1em 1em 0;
}

.portlet-header {
    margin: 0.3em;
    padding-bottom: 4px;
    padding-left: 0.2em;
}

.portlet-header .ui-icon {
    float: right;
}

.portlet-content {
    padding: 0.4em;
}

.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    height: 50px !important;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

.fingers {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}