{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript">
  jQuery(document).ready(function() {
      $('#create_workflow_entity').submit(function(){

	  if( !$('#name').val() ) {
	      alert("Please enter a name.");
	      $('#name').focus();
	      return false;
	  }

	  if( !$('#email').val() ) {
	      alert("Please enter a valid email address.");
	      $('#email').focus();
	      return false;
	  }

	  if( !$('#weight').val() ) {
	      alert("Please select a weight.");
	      $('#weight').focus();
	      return false;	      
	  }
      })
  });
</script>
{% endblock %}
{% block navbar %}
<ul class="nav nav-tabs">
  <li><a href="/workflow_entity/">Entities</a></li>
  <li><a href="/workflow/index">Workflows</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="container-fluid well">
  <form method="post" id="create_workflow_entity" name="create_workflow_entity">
    <div class="row">
      <div class="span6">
  	<h2>New Workflow Entity</h2>
	<table class="table table-condensed">
	  <tbody>
	    <tr>
	      <td>Name</td>
	      <td><input type="text" id="name" name="name" class="span4" placeholder="Name it" value="" required autofocus /></td>
	    </tr>
	    <tr>
	      <td>Email</td>
	      <td><input type="email" id="email" name="email" class="span4 " placeholder="Email of the SME" value="" required /></td>
	    </tr>
	    <tr>
	      <td>Weight:</td>
	      <td>
		<select name="weight" id="weight" name="weight" class="select span4" required >
		  <option value=""></option>
		  <option value="low">Low</option>
		  <option value="medium">Medium</option>
		  <option value="high">High</option>
		</select>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
    <div class="row">
      <div class="span6">
	<input type="submit" id="id" name="id" class="btn btn-primary" value="Save" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
