{% extends "layout/application.html" %}
{% block navbar %}
<ul class="nav nav-tabs">
  <li><a href="/">Home</a></li>
  <li class="active"><a href="#">Entities</a></li>
  <li><a href="/workflow/index">Workflows</a></li>
</ul>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  jQuery(document).ready(function() {
      $('.delete_workflow').click(function(){
	  var id = $(this).attr('id');
	  if( confirm("Ready to delete " + id + "' ?") ) {
	      
	      $.ajax({
		  url: "/workflow/delete/" + id,
		  type: "delete",
		  async: false,
		  success: function(data) {
		      if(data.status == "success") {
			  $('#row-'+id).remove();
		      } else {
			  alert("Error " + data.error + "while deleting " + id + "");
		      }
		  }
	      })
	  }
	  return false;
      })

      $('#update').click(function(){
	  if( confirm("Okay to update the name?") ) {
	      var id = $('#oldid').val();
	      var newname = $('#newname').val();
	      var oldname = $('#oldname').val();
	      
	      $.ajax({
		  url: "/workflow/modify/" + id,
		  type: "put",
		  data: "newname=" + newname,
		  async: false
	      })

	      $('td#update-' + id).text(newname);
	      $('#editor').hide();
	  }
	  return false;
      })
	
      $('.edit_workflow').click(function(){
	  $('#editor').show();
	  var name = $('td#update-' + $(this).attr('id')).text();
	  $('#newname').val(name).focus();
	  $('#oldid').val($(this).attr('id'));
	  $('#oldname').val(name);
	  $('#editortitle').text(name);
	  return false;
      });

      $('#cancel').click(function(){
	  $('#editor').hide();
      })

  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid well">  
  <h2>Workflow Entities</h2>
  <a href="/workflow_entity/create" class="btn btn-primary">New Workflow Entity</a>
  <table class="table">
    <thead>
      <tr>
	<th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for workflow_entity in workflow_entities %}
      <tr id="row-{{workflow_entity.id}}">
	<td id="update-{{workflow_entity.id}}">{{workflow_entity.name}}</td>
	<td>{{workflow_entity.email}}</td>
	<td>{{workflow_entity.weight}}</td>
	<td>
	  <a href="#" class="edit_workflow" id="{{workflow_entity.id}}">Edit</a>
	  <a href="#" class="delete_workflow" id="{{workflow_entity.id}}">Delete</a>
	</td>
      </tr>
      {% empty %}
      <!-- Nothing to be rendered, so tell user so -->
      <tr>
	<td>No workflow entities yet. Create some.<br />You\'ll need them to create Workflows.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <!-- EDITOR -->
<div class="container-fluid well" id="editor" style="display:none;">
  <h3>Editing <span id="editortitle"></span></h3>
  <div class="span6">
    <input type="hidden" id="oldid" name="oldid" value="" />
    <input type="hidden" id="oldname" name="oldname" value="" />
    <div class="control-group">
      <label class="control-label" for="newname">Name</label>
      <div class="controls">
        <input type="text" id="newname" name="newname" placeholder="Name" required autofocus>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
	<button class="btn btn-primary" name="update" id="update">Update</button>
	<button class="btn btn-inverse" name="cancel" id="cancel">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
