{% extends "layout/application.html" %}
{% block css %}
<link rel="stylesheet" media="screen" href="{{_base_url}}/static/css/portlets.css" />
<link rel="stylesheet" media="screen" href="{{_base_url}}/static/css/smoothness/jquery-ui-1.10.3.custom.min.css" />
{% endblock %}
{% block javascript %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">

function disable_enable(a,b,c) {
    $(b).toggleClass( "ui-icon-minus" ).toggleClass( "ui-icon-plus" );
    $(b).find( ".portlet-content" ).toggle();
}

jQuery(document).ready(function() {
    $("#collapse_all").click(function(){
	$('.entities').each(disable_enable);
	if( $(this).text() == "Collapse All" ) {
	    $(this).text("Open All");
	} else {
	    $(this).text("Collapse All");
	}
    }); 
    
    $("#collapse_all_playlist").click(function(){
	$('.playlist').each(disable_enable);
	if( $(this).text() == "Collapse All" ) {
	    $(this).text("Open All");
	} else {
	    $(this).text("Collapse All");
	}
    });

    $('.playlist').sortable({
	remove: function(event, ui) {
	    if( $('.playlist').sortable('toArray').length == 0 ) {
		$('#collapse_all_playlist').hide()
		$('#itemcounter').hide();
	    } else {
		$('#playlistitems').text($('.playlist').sortable('toArray').length);
	    }
	},
	receive: function(event, ui) {
	    $('#collapse_all_playlist').show();
	    $('#itemcounter').show();
	    $('#playlistitems').text($('.playlist').sortable('toArray').length);
	},	
    });

    $('#newworkflow-form').submit(function(){
        var result = $('.playlist').sortable('toArray');

	if(!$('#name').val()) {
	    alert("Please name the Workflow");
	    $('#name').focus();
	    return false;
	}

        // Empty Playlist
        if( !result.length) {
            alert("There are no items in the Workflow. Save cancelled.");
            return false;
        }

        // Assigning the Workflow Items into the hidden field so that SUBMIT
        // can pass it on 
        $('#entities_array').val(result);
    });
});
 
$(function() {
    $(".entities").sortable({
	connectWith: ".entities"
    });

    $(".column").sortable({
	connectWith: ".column"
    });
 
    $( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
	.find( ".portlet-header" )
        .addClass( "ui-widget-header ui-corner-all" )
        .prepend( "<span class='ui-icon ui-icon-minus'></span>")
        .end()
	.find( ".portlet-content" );
 
    $( ".portlet-header .ui-icon" ).click(function() {
	$( this ).toggleClass( "ui-icon-minus" ).toggleClass( "ui-icon-plus" );
	$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
    });
    
    $( ".column" ).disableSelection();
});
</script>
{% endblock %}
{% block navbar %}
<ul class="nav nav-tabs">
  <li><a href="/workflow_entity/">Entities</a></li>
  <li><a href="/workflow/index">Workflows</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="container-fluid well" style="scroll:auto;">
  <h2>Create New Workflow</h2>
  <form class="form-horizontal" id="newworkflow-form" name="newworkflow-form" method="post">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
	<input type="text" id="name" name="name" placeholder="Name" required autofocus>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 well">
        <h3>Drop Department/SME here. <a href="#" class="btn btn-inverse" id="collapse_all_playlist" name="collapse_all_playlist" style="display:none;" >Collapse All</a></h3>
        <div class="column playlist span7" style="overflow: auto; scroll: auto; height: 300px;"></div>
      </div>
      <div class="row-fluid">
        <div class="span6 well">
	  <h3>Departments/SME's <a href="#" class="btn btn-inverse" id="collapse_all" name="collapse_all" >Collapse All</a></h3>
          <div class="column entities span7 qr-list" style="overflow: auto; scroll: auto; height: 300px;">
            {% for entity in workflow_entities %}
            <div class="portlet fingers" id="{{entity.id}}" style="z-index: -100;">
              <div class="portlet-header">{{entity.name}} ({{entity.weight}})</div>
              <div class="portlet-content" id="{{entity.id}}">{{entity.email}}<br/>
              </div>
            </div>
	    {% empty %}
          {% endfor %}
          </div>    
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <span id="itemcounter" style="display:none;">There are <span id="playlistitems"></span> item(s) in the current workflow.</span>
      </div>
      <div class="span6">
        {% if workflow_entities %}
        There are {{workflow_entities|length}} Departments/SME's to choose from
        {% endif %}
      </div>
    </div>
    <input type="submit" id="id" name="id" class="" value="Save" />
    <input type="hidden" id="entities_array" name="entities_array" value="">
  </form>
</div>
{% endblock %}
