{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript" language="javascript">
    $(document).ready(function() {
	$('#update').click(function(){
	    if( confirm("Okay to update the name?") ) {
		var id = $('#oldid').val();
		var newname = $('#newname').val();
		var oldname = $('#oldname').val();

		$.ajax({
		    url: "/workflow/modify/" + id,
		    type: "put",
		    data: "newname=" + newname,
		    async: false
		})

		$('td#update-' + id).text(newname);
		$('#editor').hide();
	    }
	    return false;
	})
	
	$('.edit_item').click(function(){
	    $('#editor').show();
	    var name = $('td#update-' + $(this).attr('id')).text();
	    $('#newname').val(name).focus();
	    $('#oldid').val($(this).attr('id'));
	    $('#oldname').val(name);
	    $('#editortitle').text(name);
	    return false;
	});

	$('#cancel').click(function(){
	    $('#editor').hide();
	})

	$('.delete_item').click(function(){
  	    var id= $(this).attr('id');
  	    if( confirm("Delete '" + id + "' ?") ) {
  		$.ajax({
  		    url: "/workflow/delete/" + id,
  		    type: "delete",
  		    success: function(data) {
  			if(data.error) {
  			    alert(data.error);
  			} else {
  			    $('#row-'+ id ).remove()
  			}}
  		});
  	    }
  	    return false;
	})
    });
</script>
{% endblock %}
{% block navbar %}
<ul class="nav nav-tabs">
  <li><a href="/">Home</a></li>
  <li><a href="/workflow_entity/index">Entities</a></li>
  <li class="active"><a href="#">Workflows</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="container-fluid well">
  <h2>Workflows</h2>
  <a href="/workflow/create" class="btn btn-primary">New Workflow</a>
  <table class="table">
    <thead>
      <tr>
	<th>Name</th>
	<th>Created</th>
	<th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for workflow in workflows %}
      <tr id="row-{{workflow.id}}" name="{{workflow.name}}">
	<td id="update-{{workflow.id}}">{{workflow.name}}</td>
	<td>{{workflow.created_on|localtime}}</td>
	<td>
	  <a href="#" class="edit_item" id="{{workflow.id}}">Edit</a>
	  <a href="#" class="delete_item" id="{{workflow.id}}">Delete</a>
	</td>
      </tr>      
      {% empty %}
      No workflows to be listed. Create a new one.
      {% endfor %}
    </tbody>
  </table>
</div>


  <!-- EDITOR -->
<div class="container-fluid well" id="editor" style="display:none;">
  <!-- <div class="row span4" style="display:none;" id="editor"> -->
    <h3>Editing <span id="editortitle"></span></h3>
    <div class="span6">
      <input type="hidden" id="oldid" name="oldid" value="" />
      <input type="hidden" id="oldname" name="oldname" value="" />
      <div class="control-group">
	<label class="control-label" for="newname">Name</label>
	<div class="controls">
          <input type="text" id="newname" name="newname" placeholder="Name" required autofocus>
	</div>
      </div>
      <div class="control-group">
	<!-- <label class="control-label" for="submitme">submitme</label> -->
	<div class="controls">
	  <button class="btn btn-primary" name="update" id="update">Update</button>
	  <button class="btn btn-inverse" name="cancel" id="cancel">Cancel</button>
	</div>
      </div>
    </div>
  <!-- </div> -->
</div>
{% endblock %}
