<!DOCTYPE html>
<html>
  <head>
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    <title>{% block title %}&copy; Rackspace 2013{% endblock %}</title>
    <link href="{{_base_url}}/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
    <script src="{{_base_url}}/static/js/jquery-1.10.0.min.js"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{_base_url}}/static/bootstrap/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
  </head>
  <body>
    <header>
      {% block navbar %}
      {% endblock %}
    </header>
    <article id="content">
      {% if boss_flash %}
      {% for flash in boss_flash %}
      <div id="flasharea" class="{{flash.method}}">{{ flash.title }}{{ flash.message }}</div>
      {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </article>
    <footer>{% block footer %}{% endblock %}</footer>
  </body>
</html>
