{% extends "layout/application.html" %}
{% block navbar %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="/workflow_entity/">Entities</a></li>
  <li><a href="/workflow/index">Workflows</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="container-fluid well">
  <h3>Listing Suggestions</h3>
  <table class="table" style="">
    <thead>
      <tr>
	<th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row"></div>

<div class="container-fluid well">  
  <!-- bridge, [Id, Source, Destination, Name, Topic, Status, CreatedOn, ModifiedOn] -->
  <h3>Listing Candidates</h3>
  <table class="table" style="">
    <thead>
      <tr>
	<th>Source</th>
	<th></th>
	<th>Destination</th>
	<th>Name</th>
	<th>Status</th>
	<th>Created</th>
      </tr>
    </thead>
    <tbody>
      {% for b in suggestions %}
      <tr>
	<td>{{b.source}}</td>
	<td>&em;&gt;</td>
	<td>{{b.destination}}</td>
      </tr>
      {% empty %}
      <tr><td colspan="6"> No candidates to be listed.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
